.form-actions {
	padding-bottom: 1%;
	padding-left: 1%;
	padding-right: 1%;
}

.input {
	margin-left: 1%;
	margin-bottom: .5%;
	padding: .5%;
}

.indent2 {
	margin-left: 2%;
}

body {
	font-family: "HelveticaNeue-Light";
	background-color: #F0EEF1;
}

body>p {
	font-family: "HelveticaNeue";
	margin-left: 1%;
}

body>div>strong {
	font-family: "HelveticaNeue";
	margin-left: 1%;
	font-size: 12px;
} 

select {
	display: block;
}

input {
	width: 50%;
	display: block;
}

input.btn.btn-primary, .btn.btn-primary {
	width: 10%;
	min-width: 150px;
	background-color: #5FBBAE;
	border-color: #F0EEF1;
	text-align: center;
}

.btn:hover {
	background-color: #5FBBAE;
	color: white;
}

abbr[title] {
	border-bottom: none;
}

legend {
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 1%;
	font-size: 30px;

	background-color: #1B6854;
	color: white;
	font-family: "HelveticaNeue-Light";
}

label {
	font-family: "HelveticaNeue-Light";
}

a {
	margin-left: 1%;
}

a:hover {
	background-color: white;
}

table {
	margin-left: 1%;
	font-family: "HelveticaNeue-Light";
}

nav.navbar .container-fluid {
	background-color: #1B6854;
	
	font-family: "HelveticaNeue-Light";
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-family: "HelveticaNeue-Light";
}

.inline {
	display: inline-block;
}

.red {
	color: red;
}

.green {
	color: green;
}